ul {
  list-style-type: none;
}

#mainhead {
  text-shadow: #4a4a4a 0.1em 0.1em;
  font-size: 2em;
  font-weight: bold;
}

body {
  font: 0.8em Tahoma, verdana, arial normal;
  color: #333;
}

a {
  text-decoration-line: none;
  color: inherit;
}

a:hover, mark, h1, #mainhead {
  color: #f60;
}

h1 {
  font-size: 1.3em;
  font-weight: normal;
}

a:link {
color: #0000ff; text-decoration-line: none;
}

a:visited {
  color: #18c769; text-decoration-line: none;
}

a:hover {
  color: #f60; text-decoration-line: none;
}

img {
  height: 25em;
}

span {
  font-size: 1em;
  color: #8e8e8e;
}

figcaption {
  font-size: 0.9em;
}

.content section h1 {
  color: inherit;
}
